@use "../utils/global" as g;
@use "../utils/mixins" as m;
@use "../utils/variables" as v;

.cart-circle-container {
  width: 100%;
  position: relative;
  height: 5rem;
  .cart-circle {
    position: fixed;
    z-index: 1000;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    @include m.flex(column);
    background-color: v.$pCol;
    border-radius: 50%;
    color: v.$white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      scale: 1.1;
      transition: all 0.3s ease-in-out;
    }
    i {
      font-size: 1.5rem;
    }

    .cart-count {
      @include m.flex(column);
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: v.$pCol;
      position: absolute;
      top: -12px;
      right: -7px;
      color: v.$white;
      font-family: v.$sFont;
      font-size: 2.5rem;
    }
  }
}
