@use "../utils/global" as g;
@use "../utils/mixins" as m;
@use "../utils/variables" as v;

.home-start-container {
  @include m.flex(column, space-between, center);
  height: calc(100vh - 64px);
  padding: 0 2rem 2rem 2rem;
  .test {
    width: 100%;
    height: 60%;
    .start-text {
      @include m.flex(column, center, start);
      width: 100%;
      padding-top: 64px;
      p {
        font-family: v.$sFont;
        font-size: 80px;
        line-height: 60%;
        .friend {
          font-family: v.$sFont;
          color: v.$pCol;
        }
      }
    }
  }
  .start-button {
    width: 100%;
    @include m.flex(column);
    button {
      background-color: v.$pCol;
      width: 80%;
      border-radius: 40px;
      border: none;
      height: 100%;
      padding: 8px 0;
      p {
        font-family: v.$sFont;
        font-size: 40px;
        color: v.$white;
      }
    }
  }
  @include m.desk {
    .test {
      @include m.flex(row);
      padding-top: 5rem;
      .start-text {
        padding-left: 4rem;
        p {
          font-size: 100px;
        }
      }
    }
    .start-button {
      max-width: 460px;
      button {
        padding: 4px 0;
        p {
          font-size: 50px;
        }
      }
    }
  }
}

.popular-container {
  @include m.flex(column);
  width: 100%;
  background-color: v.$sCol;
  padding: 2rem;
  .popular-text {
    width: 100%;
    padding-bottom: 2rem;
    p {
      font-family: v.$sFont;
      font-size: 50px;
    }
  }
  .popular {
    @include m.flex(column);
    width: 100%;
    .popular-box {
      @include m.flex(row);
      gap: 2rem;
      margin-bottom: 2rem;
    }
  }
  @include m.desk {
    .popular-text {
      p {
        font-size: 80px;
      }
    }

    .popular {
      @include m.flex(row, center, center);
      flex-wrap: wrap;
      gap: 2rem;
      margin-bottom: 2rem;
      .popular-box {
        margin-bottom: 0;
      }
    }
  }
}

.categories-container {
  @include m.flex(column);
  width: 100%;
  padding: 2rem;
  .categories-header {
    font-family: v.$sFont;
    font-size: 60px;
  }
  .categories-sec-container {
    @include m.flex(row);
  }
  .category-btn {
    background-color: v.$pCol;
    border-radius: 50px;
    padding: 4px 1rem;
    border: none;
    height: 100%;
    text-decoration: none;
    margin: 4px;
    p {
      font-family: v.$sFont;
      font-size: 40px;
      color: v.$white;
    }
  }
  @include m.desk {
    .categories-header {
      font-size: 80px;
    }
    .category-btn {
      padding: 4px 3rem;
      p {
        font-size: 60px;
      }
    }
  }
}
