* {
  margin: 0;
  padding: 0;
  font-family: "Geist Mono", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

.nav {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  background-color: white;
}
.nav .nav-container {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-container a {
  font-family: "Jomhuria";
  font-size: 60px;
  color: #db5107;
  padding: 0.5rem 0 0 1rem;
  text-decoration: none;
}
.nav .nav-container .nav-right {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
.nav .nav-container .nav-right .search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 80%;
  border-radius: 20px;
}
.nav .nav-container .nav-right .search-form input {
  border: none;
  width: 70%;
  margin-left: 0.5rem;
}
.nav .nav-container .nav-right .search-form input:focus {
  outline: none;
}
.nav .nav-container .nav-right .search-form button {
  border: none;
  background: transparent;
  padding: 0.5rem;
}
.nav .nav-container .nav-right .search-form button i {
  font-size: 1rem;
}
.nav .nav-container .nav-right .hamburger {
  border: none;
  height: 1.4rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  background: transparent;
}
.nav .nav-container .nav-right .hamburger .span-1 {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: transform 0.4s ease, opacity 0.3s ease;
  transform-origin: center;
}
.nav .nav-container .nav-right .hamburger .span-2 {
  width: 70%;
  height: 2px;
  background-color: black;
  transition: transform 0.4s ease, opacity 0.3s ease;
  transform-origin: center;
}
.nav .nav-container .nav-right .hamburger.active .span-1 {
  transform: rotate(45deg) translate(4px, 4px);
}
.nav .nav-container .nav-right .hamburger.active .span-2 {
  width: 100%;
  transform: rotate(-45deg) translate(10px, -10px);
}
.nav .nav-container .nav-right i {
  font-size: 1.8rem;
}
@media (min-width: 600px) {
  .nav .nav-container .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  .nav .nav-container .nav-right .search-form {
    width: 30%;
  }
}

.nav-dropdown {
  display: none;
}
.nav-dropdown .nav-dropdown-content {
  width: 100%;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-dropdown .nav-dropdown-content a {
  font-family: "Jomhuria";
  font-size: 60px;
  color: #db5107;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
}
.footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer .footer-container .footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  padding: 2rem;
  gap: 8px;
}
.footer .footer-container .footer-left a {
  text-decoration: none;
  color: black;
}
.footer .footer-container .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 50%;
  padding: 2rem;
  gap: 8px;
}
.footer .footer-container .footer-right a {
  text-decoration: none;
  color: black;
}
.footer .valter {
  text-decoration: none;
  color: black;
  padding-bottom: 2rem;
}
@media (min-width: 600px) {
  .footer {
    font-size: 1.4rem;
  }
}

.template-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.template-container .template-main {
  height: 100%;
  width: 100%;
  margin-top: 64px;
}

.home-start-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 64px);
  padding: 0 2rem 2rem 2rem;
}
.home-start-container .test {
  width: 100%;
  height: 60%;
}
.home-start-container .test .start-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding-top: 64px;
}
.home-start-container .test .start-text p {
  font-family: "Jomhuria";
  font-size: 80px;
  line-height: 60%;
}
.home-start-container .test .start-text p .friend {
  font-family: "Jomhuria";
  color: #db5107;
}
.home-start-container .start-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-start-container .start-button button {
  background-color: #db5107;
  width: 80%;
  border-radius: 40px;
  border: none;
  height: 100%;
  padding: 8px 0;
}
.home-start-container .start-button button p {
  font-family: "Jomhuria";
  font-size: 40px;
  color: white;
}
@media (min-width: 600px) {
  .home-start-container .test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
  }
  .home-start-container .test .start-text {
    padding-left: 4rem;
  }
  .home-start-container .test .start-text p {
    font-size: 100px;
  }
  .home-start-container .start-button {
    max-width: 460px;
  }
  .home-start-container .start-button button {
    padding: 4px 0;
  }
  .home-start-container .start-button button p {
    font-size: 50px;
  }
}

.popular-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fffdcf;
  padding: 2rem;
}
.popular-container .popular-text {
  width: 100%;
  padding-bottom: 2rem;
}
.popular-container .popular-text p {
  font-family: "Jomhuria";
  font-size: 50px;
}
.popular-container .popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.popular-container .popular .popular-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  .popular-container .popular-text p {
    font-size: 80px;
  }
  .popular-container .popular {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .popular-container .popular .popular-box {
    margin-bottom: 0;
  }
}

.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}
.categories-container .categories-header {
  font-family: "Jomhuria";
  font-size: 60px;
}
.categories-container .categories-sec-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.categories-container .category-btn {
  background-color: #db5107;
  border-radius: 50px;
  padding: 4px 1rem;
  border: none;
  height: 100%;
  text-decoration: none;
  margin: 4px;
}
.categories-container .category-btn p {
  font-family: "Jomhuria";
  font-size: 40px;
  color: white;
}
@media (min-width: 600px) {
  .categories-container .categories-header {
    font-size: 80px;
  }
  .categories-container .category-btn {
    padding: 4px 3rem;
  }
  .categories-container .category-btn p {
    font-size: 60px;
  }
}

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background-color: #fffdcf;
}
.products-container .products-header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.products-container .products-header-container .products-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 50%;
}
.products-container .products-header-container .products-header h1 {
  font-size: 60px;
  font-family: "Jomhuria";
  color: #db5107;
}
.products-container .products-header-container .products-header p {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
.products-container .products-header-container .products-header .products-sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 2rem;
}
.products-container .products-header-container .products-header .products-sorting span {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.products-container .products-header-container .products-header .products-sorting span a {
  font-size: 0.85rem;
  text-decoration: none;
  color: black;
}
.products-container .products-header-container .products-map {
  width: 50%;
  position: relative;
}
.products-container .products-header-container .products-map img {
  width: 100%;
  height: 181px;
  object-fit: cover;
  border-radius: 15%;
}
.products-container .products-header-container .products-map .products-map-text {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
}
.products-container .products-header-container .products-map .products-map-text span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #db5107;
}
.products-container .products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.products-container .products .products-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.products-container .pagination .page-btn {
  color: black;
  font-size: 1rem;
}
.products-container .pagination .page-btn.page-active {
  color: #db5107;
  font-weight: bold;
  font-size: 1.2rem;
}
.products-container .pagination .next-btn,
.products-container .pagination .prev-btn {
  font-size: 0.8rem;
  color: black;
}
@media (min-width: 600px) {
  .products-container .products-header-container .products-header p {
    font-size: 1.2rem;
  }
  .products-container .products-header-container .products-header .products-sorting {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2rem;
  }
  .products-container .products-header-container .products-header .products-sorting span {
    height: 3rem;
    width: 3rem;
  }
  .products-container .products-header-container .products-header .products-sorting span a {
    font-size: 1.2rem;
  }
  .products-container .products-header-container .products-map {
    margin-left: 2rem;
  }
  .products-container .products-header-container .products-map img {
    height: 158px;
    border-radius: 30px;
  }
  .products-container .products-header-container .products-map .products-map-text {
    font-size: 1.2rem;
  }
  .products-container .products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.friend-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 2rem 2rem 0 2rem;
}
.friend-container .friend-page-back-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.friend-container .friend-page-back-button button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.friend-container .friend-page-back-button button i {
  font-size: 1.6rem;
}
.friend-container .friend-page-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.friend-container .friend-page-image-container .friend-page-image {
  width: 70%;
  height: auto;
}
.friend-container .friend-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.friend-container .friend-info-container .friend-page-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.friend-container .friend-info-container .friend-page-name p {
  font-family: "Jomhuria";
  font-size: 60px;
  color: #db5107;
}
.friend-container .friend-page-category,
.friend-container .friend-page-race,
.friend-container .friend-page-stock,
.friend-container .friend-page-price,
.friend-container .friend-page-popularity {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.friend-container .friend-page-category p,
.friend-container .friend-page-race p,
.friend-container .friend-page-stock p,
.friend-container .friend-page-price p,
.friend-container .friend-page-popularity p {
  color: black;
  font-size: 0.8rem;
}
.friend-container .friend-page-category .friend-page-desc,
.friend-container .friend-page-race .friend-page-desc,
.friend-container .friend-page-stock .friend-page-desc,
.friend-container .friend-page-price .friend-page-desc,
.friend-container .friend-page-popularity .friend-page-desc {
  font-weight: bold;
  font-size: 0.8rem;
}
.friend-container .buy-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.friend-container .buy-button button {
  background-color: #db5107;
  width: 80%;
  border-radius: 40px;
  border: none;
  height: 100%;
  padding: 8px 0;
}
.friend-container .buy-button button a {
  font-family: "Jomhuria";
  font-size: 40px;
  color: white;
  text-decoration: none;
}
@media (min-width: 600px) {
  .friend-container .flex-desk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .friend-container .buy-button button {
    max-width: 560px;
  }
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fffdcf;
  padding: 2rem;
}
.register-container .register-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.register-container .register-header h1 span {
  color: black;
  font-family: "Jomhuria";
  font-size: 60px;
}
.register-container .register-header h2 {
  font-size: 20px;
}
.register-container .register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.register-container .register-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.8rem;
}
.register-container .register-form form input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.register-container .register-form form input:focus {
  outline: none;
}
.register-container .register-form form .error {
  color: red;
  font-weight: bold;
}
.register-container .register-form form .password-container,
.register-container .register-form form .password-repeat-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  position: relative;
}
.register-container .register-form form .password-container input[type=password],
.register-container .register-form form .password-container input[type=text],
.register-container .register-form form .password-repeat-container input[type=password],
.register-container .register-form form .password-repeat-container input[type=text] {
  width: 100%;
  padding: 0.8rem;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.register-container .register-form form .password-container input[type=password]:focus,
.register-container .register-form form .password-container input[type=text]:focus,
.register-container .register-form form .password-repeat-container input[type=password]:focus,
.register-container .register-form form .password-repeat-container input[type=text]:focus {
  outline: none;
}
.register-container .register-form form .password-container i,
.register-container .register-form form .password-repeat-container i {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #747474;
  cursor: pointer;
}
.register-container .register-form form button {
  background-color: #db5107;
  width: 100%;
  border-radius: 40px;
  border: none;
  height: 100%;
  padding: 8px 0;
  font-family: "Jomhuria";
  font-size: 40px;
  color: white;
}
.register-container .register-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}
.register-container .register-footer p {
  font-family: "Jomhuria";
  font-size: 2rem;
}
.register-container .register-footer p a {
  padding-left: 0.5rem;
  font-family: "Jomhuria";
  font-size: 2rem;
  color: #5a1ee5;
  text-decoration: none;
}
@media (min-width: 600px) {
  .register-container .register-header,
  .register-container .register-form {
    max-width: 560px;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fffdcf;
  padding: 2rem;
}
.login-container .login-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.login-container .login-header h1 span {
  color: black;
  font-family: "Jomhuria";
  font-size: 60px;
}
.login-container .login-header h2 {
  font-size: 20px;
}
.login-container .login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.login-container .login-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
.login-container .login-form form input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.login-container .login-form form input:focus {
  outline: none;
}
.login-container .login-form form .password-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  position: relative;
}
.login-container .login-form form .password-container input[type=password],
.login-container .login-form form .password-container input[type=text] {
  width: 100%;
  padding: 0.8rem;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.login-container .login-form form .password-container input[type=password]:focus,
.login-container .login-form form .password-container input[type=text]:focus {
  outline: none;
}
.login-container .login-form form .password-container i {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #747474;
  cursor: pointer;
}
.login-container .login-form form button {
  background-color: #db5107;
  width: 100%;
  border-radius: 40px;
  border: none;
  height: 100%;
  padding: 8px 0;
  font-family: "Jomhuria";
  font-size: 40px;
  color: white;
}
.login-container .login-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}
.login-container .login-footer p {
  font-family: "Jomhuria";
  font-size: 2rem;
}
.login-container .login-footer p a {
  padding-left: 0.5rem;
  font-family: "Jomhuria";
  font-size: 2rem;
  color: #5a1ee5;
  text-decoration: none;
}
@media (min-width: 600px) {
  .login-container .login-form,
  .login-container .login-header {
    max-width: 560px;
  }
}

.checkout-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.checkout-container .checkout-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.checkout-container .checkout-header h1 {
  font-weight: bold;
  font-size: 1rem;
}
.checkout-container .checkout-header h3 {
  font-size: 0.8rem;
}
.checkout-container .checkout-header h3 a {
  font-weight: bold;
  color: black;
}
.checkout-container .checkout-products {
  width: 100%;
  padding-top: 2rem;
}
.checkout-container .checkout-products .checkout-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #db5107;
  margin-bottom: 2rem;
  border-radius: 20px;
}
.checkout-container .shop-more {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.checkout-container .shop-more p {
  font-family: "Jomhuria";
  font-size: 1.8rem;
}
.checkout-container .shop-more a {
  font-family: "Jomhuria";
  font-size: 1.8rem;
  color: #5a1ee5;
  text-decoration: none;
}
.checkout-container .delivery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 4rem;
  gap: 1rem;
}
.checkout-container .delivery h2 {
  font-weight: bold;
  font-size: 1rem;
}
.checkout-container .delivery .fast-delivery,
.checkout-container .delivery .free-delivery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #db5107;
  width: 100%;
  border-radius: 12px;
  padding: 0.5rem;
}
.checkout-container .delivery .fast-delivery .delivery-text,
.checkout-container .delivery .free-delivery .delivery-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.checkout-container .delivery .fast-delivery .delivery-text h3,
.checkout-container .delivery .free-delivery .delivery-text h3 {
  font-size: 0.8rem;
  font-weight: bold;
}
.checkout-container .delivery .fast-delivery .delivery-text p,
.checkout-container .delivery .free-delivery .delivery-text p {
  font-size: 0.6rem;
  color: #747474;
}
.checkout-container .delivery .fast-delivery input,
.checkout-container .delivery .free-delivery input {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}
.checkout-container .delivery .fast-delivery input:checked,
.checkout-container .delivery .free-delivery input:checked {
  background-color: black;
  border-color: black;
}
.checkout-container .checkout-details {
  margin-top: 4rem;
}
.checkout-container .checkout-details h2 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.checkout-container .checkout-details form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 0.5rem;
}
.checkout-container .checkout-details form label {
  text-decoration: underline;
  font-size: 0.8rem;
}
.checkout-container .checkout-details form p {
  font-family: "Jomhuria";
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.checkout-container .checkout-details form a {
  font-family: "Jomhuria";
  font-size: 1.8rem;
  color: #5a1ee5;
  text-decoration: none;
}
.checkout-container .checkout-details form input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.checkout-container .checkout-details form .payment-methods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
.checkout-container .checkout-details form .payment-methods label {
  text-decoration: none;
}
.checkout-container .checkout-details form .payment-methods .payment-option {
  position: relative;
  width: 100%;
}
.checkout-container .checkout-details form .payment-methods .payment-option input {
  display: none;
}
.checkout-container .checkout-details form .payment-methods .payment-option .content {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.checkout-container .checkout-details form .payment-methods .payment-option .content i {
  font-size: 1.2rem;
}
.checkout-container .checkout-details form .payment-methods .payment-option .content p {
  font-size: 0.6rem;
  font-weight: bold;
  font-family: "Geist Mono";
  margin-bottom: 0;
}
.checkout-container .checkout-details form .payment-methods .payment-option input:checked + .content {
  border-color: black;
  background-color: #f0f0f0;
}
.checkout-container .checkout-details form .bottom-card-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.checkout-container .checkout-details form .checkout-total {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.checkout-container .checkout-details form .checkout-total h3 {
  font-size: 1rem;
  color: #747474;
}
.checkout-container .checkout-details form .checkout-total .total-amount {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Geist Mono";
}
.checkout-container .checkout-details .checkout-btn {
  width: 100%;
  margin-top: 2rem;
}
.checkout-container .checkout-details .checkout-btn button {
  background-color: #db5107;
  width: 100%;
  border-radius: 40px;
  border: none;
  height: 100%;
  padding: 8px 0;
  font-family: "Jomhuria";
  font-size: 40px;
  color: white;
}

.confirmation-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.confirmation-section .confirmation-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.confirmation-section .confirmation-info h2,
.confirmation-section .confirmation-info h3 {
  font-size: 1rem;
}
.confirmation-section .confirmation-info .last-confirmation {
  padding-bottom: 2rem;
}
.confirmation-section .confirmation-info .last-confirmation span {
  color: #db5107;
  font-weight: bold;
  font-family: "Jomhuria";
  font-size: 3rem;
}
.confirmation-section .shop-more {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.confirmation-section .shop-more p {
  font-size: 1.5rem;
}
@media (min-width: 600px) {
  .confirmation-section .confirmation-info {
    width: 50%;
  }
}

.friend-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  text-decoration: none;
  border-radius: 20px;
}
.friend-box .friend-header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem;
}
.friend-box .friend-header-container .friend-header {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
.friend-box .friend-header-container p {
  font-size: 1rem;
  color: black;
}
.friend-box .friend-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.friend-box .friend-image img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}
.friend-box .friend-price {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: black;
}
.friend-box .friend-price p {
  font-weight: bold;
}
@media (min-width: 600px) {
  .friend-box {
    padding: 1rem 2rem;
  }
  .friend-box .friend-header-container .friend-header,
  .friend-box .friend-header-container p {
    font-size: 1.2rem;
  }
  .friend-box .friend-price {
    gap: 1rem;
  }
  .friend-box .friend-price p {
    font-size: 1.2rem;
  }
}

.checkoutbox-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkoutbox-image img {
  width: 6rem;
  height: 6rem;
}

.checkoutbox-text {
  width: 100%;
}

.checkout-right {
  width: 50%;
  height: 5rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.checkout-right .checkoutbox-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.checkout-right .checkoutbox-header h1,
.checkout-right .checkoutbox-header p {
  font-size: 0.8rem;
  font-weight: bold;
}
.checkout-right .checkoutbox-category p {
  font-size: 0.8rem;
}
.checkout-right .crud-icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.checkout-right .crud-icons .plus-minus {
  padding-right: 0.5rem;
}
.checkout-right .crud-icons .plus-minus a {
  text-decoration: none;
  color: black;
}
.checkout-right .crud-icons a {
  text-decoration: none;
  color: black;
}

.cart-circle-container {
  width: 100%;
  position: relative;
  height: 5rem;
}
.cart-circle-container .cart-circle {
  position: fixed;
  z-index: 1000;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #db5107;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.cart-circle-container .cart-circle:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}
.cart-circle-container .cart-circle i {
  font-size: 1.5rem;
}
.cart-circle-container .cart-circle .cart-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #db5107;
  position: absolute;
  top: -12px;
  right: -7px;
  color: white;
  font-family: "Jomhuria";
  font-size: 2.5rem;
}

/*# sourceMappingURL=styles.css.map */
